*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
nav {
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 8%;
padding-right: 8%;
margin-top: 3vw;
}
.logo{
width: 20%;
margin-left: 1vw;
}
nav ul li{
display: inline-block;
text-transform: uppercase;
list-style-type: none;
font-size: 1.5vw;
margin-left: 2vw;
font-family: open sans-serif;
padding: 1vw;
}

ul li:hover {
box-shadow: 0 4px 8px 0 rgba(17, 9, 9, 0.651), 0 6px 20px 0 rgba(70, 60, 60, 0.19);
transition: box-shadow 0.4s ease-in-out;
cursor:pointer;
}
ul li:hover::after{
width: 100%;
}
.container {

    position: relative;

    max-width: 900px;
    width: auto;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: darkgray;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container form {
    position: relative;
    margin-top: 16px;
    min-height: 1790px;
    background-color: gray;
    overflow: hidden;
}

.container form .form {
    position: absolute;
    background-color: darkgray;
    transition: 0.3s ease;
}

.container form .form.second {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}

form.secActive .form.second {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

form.secActive .form.first {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.container form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 41px 0;
}

.input-field label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input,
select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input :focus,
.input-field select:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field select,
.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: #333;
}

.container form button,
.backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 500px;
    width: 270px;
    border: none;
    outline: none;
    color: black;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #3d4e3a;
    transition: all 0.3s linear;
    cursor: pointer;
    float: left;
}

.container form .btnreset,
.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 500px;
    width: 230px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #3b705a;
    transition: all 0.3s linear;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    float: right;
}

.container form .btnText {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: black;
}

.container form .btnTexts {
    font-size: 14px;
    font-weight: 600;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: black;
}

form button:hover {
    background-color: #265df2;
}

form button i,
form .backBtn i {
    margin: 0 6px;
}

form .backBtn i {
    transform: rotate(180deg);
}

form .buttons {
    display: flex;
    align-items: center;
}

form .buttons button,
.backBtn {
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container form {
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar {
        display: none;
    }
    form .fields .input-field {
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field {
        width: 100%;
    }
}
footer{
    background-color: #6a7b5d;
    margin: 0;
    padding: 2vw;
    width: 100%;
  }
  footer img, p{
  display: inline-block;
  }
  footer img{
    margin-top: 1vw;
  }
  footer p{
    margin-left: 4vw;
    margin-top: 1vw;
    font-family: open sans-serif;
    font-size: 2vw;
  }
  footer small{
    float: right;
    font-family: open sans-serif;
    font-size: 1vw;
    margin-top: 2vh;
  }
  a:link {
    color: black;
  }
  a:visited {
    color: rgb(199, 147, 79);
  }
  a:active {
    color: blue;
  }
  a:link {
    color: black;
  }
  a:visited {
    color: rgb(199, 147, 79);
  }
  a:active {
    color: blue;
  }
  